<%= form_with model: @friends do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
    <br/>
    <label for="friend_birthday">Date of Birth</label>
    <%= form.date_field :birthday %>
  </div>
  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.rich_text_area :description %>
  </div>

    <br>
  <div>
    <%= form.submit %>
  </div>
<% end %>
